<html dir="rtl">
<head>
    {% load static %}
    {# Load Css #}
    <link rel="stylesheet" href={% static "adminpanel/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "adminpanel/css/fontawesome.min.css" %}>
    <link rel="stylesheet" href={% static "adminpanel/css/persian-datepicker.css" %}>
    <link rel="stylesheet" href={% static "adminpanel/css/style.css" %}>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    {#  Load Scripts       #}
    <script src={% static "adminpanel/js/jquery.js" %}></script>
    <script src={% static "adminpanel/js/all.min.js" %}></script>
    <script src={% static "adminpanel/js/bootstrap.min.js" %}></script>
    <script src={% static "adminpanel/js/notify.min.js" %}></script>
    <script src={% static "adminpanel/js/persian-date.min.js" %}></script>
    <script src={% static "adminpanel/js/persian-datepicker.min.js" %}></script>
    <script src={% static "adminpanel/js/js.js" %}></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <title>{{ title }}</title>

</head>
<body dir="rtl">
<div class="full-spinner"
     style="position: fixed ; height: 100% ; width: 100% ; background-color: rgba(0, 0, 0 , 0.6) ; z-index: 100000 ; display: none">
    <div class="row justify-content-center align-items-center h-100">
        <div class="loader">
            <p style="color: white"></p>
        </div>
    </div>

</div>
<div class="container w-100 home-container" style="font-size: 14px !important; min-height: 100%">
    <div class="justify-content-center">
        <div class="row">
            <div class="col col-lg-12  text-center pt-3">
                <p style="font-family: Quran ; font-size: 21px">
                    بسم الله الرحمن الرحیم
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6  text-right pt-3">
                <p style="font-family: Farsi ; font-weight: lighter ; font-size: 14px">
                    خوش آمدی محمد باقر عظیمی
                </p>
            </div>
            <div class="col col-lg-6  text-left pt-3">
                <p style="font-family: Farsi ; font-weight: lighter ; font-size: 14px">
                    <span id="time"></span>
                </p>
            </div>
        </div>
        <div class="row horizontal-line">
            <div class="col col-lg-12 text-right">
                <p style="font-family: Farsi ; font-weight: lighter ; font-size: 14px">
                    <a href="{% url "home" %}">صفحه اصلی > </a> <a href="{% url "users" %}">کاربران </a> > ویرایش
                    آیتم
                </p>
            </div>
        </div>
        <div style="margin-top:30px">
            <form method="post" action="{% url "postHandler" %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="handler" value="editThisUser">
                <input type="hidden" name="itemId" value="{{ item.id }}">
                <div class="row">

                    <div class="col-lg-1 form-group text-right p-2">
                        <label>
                            نام کاربری:
                        </label>
                    </div>
                    <div class="col-lg-3 form-group text-right">
                        <input type="text" class="form-control text-center" value="{{ item.userName }}" id="name"
                               name="username"
                        >
                        <small id="emailHelp" class="form-text text-center" style="font-size: 10px ">
                            نام کاربری کاربر
                        </small>
                    </div>
                    <div class="col-lg-1 form-group text-right p-2">
                        <label>
                            نام :
                        </label>
                    </div>
                    <div class="col-lg-3 form-group text-right">
                        <input value="{{ item.fName }}" type="text" class="form-control text-center"
                               name="fName"
                               style="min-width: 200px">
                    </div>
                    <div class="col-lg-2 form-group text-right p-2" style="font-size: 13px">
                        <label>
                            نام خانوادگی :
                        </label>
                    </div>
                    <div class="col-lg-2 form-group text-right">
                        <input value="{{ item.lName }}" type="text" class="form-control text-center"
                               name="lName"
                               style="min-width: 150px">

                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-1 form-group text-right p-2">
                        <label>
                            موبایل:
                        </label>
                    </div>
                    <div class="col-lg-3 form-group text-right">
                        <input type="text" class="form-control text-center" value="{{ item.phone }}" id="name"
                               name="phone"
                        >
                    </div>
                    <div class="col-lg-1 form-group text-right p-2">
                        <label>
                            شماره ملی :
                        </label>
                    </div>
                    <div class="col-lg-3 form-group text-right">
                        <input value="{{ item.numberId }}" type="text" class="form-control text-center"
                               name="numberId"
                               style="min-width: 200px">
                    </div>
                    <div class="col-lg-2 form-group text-right p-2" style="font-size: 13px">
                        <label>
                            تاریخ تولد :
                        </label>
                    </div>
                    <div class="col-lg-2 form-group text-right">
                        <input value="{{ item.birthDate }}" type="text" id="datepick" class="form-control text-center"
                               name="birthDate"
                               style="min-width: 150px">

                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-1 form-group text-right p-2">
                        <label>
                            مدرک تحصیلی :
                        </label>
                    </div>
                    <div class="col-lg-3 form-group text-right">
                        <input type="text" class="form-control text-center" value="{{ item.educationLevel }}" id="name"
                               name="educationLevel"
                        >

                    </div>

                    <div class="col-lg-1 form-group text-right p-2">
                        <label>
                            وضعیت :
                        </label>

                    </div>
                    <div class="col-lg-1 form-group text-right p-2" style="font-size: 13px">
                        <input value="admin" type="radio" class="form-control text-center"
                               name="status"
                                {% if item.isAdmin %}
                               checked
                                {% endif %}
                                {% if isself %}
                               disabled
                                {% endif %}
                        >
                        <small id="emailHelp" class="form-text text-center" style="font-size: 10px ">
                            مدیر
                        </small>
                    </div>
                    <div class="col-lg-1 form-group text-right p-2" style="font-size: 13px">
                        <input value="ban" type="radio" class="form-control text-center"
                               name="status"
                                {% if item.banned %}
                               checked
                                {% endif %}
                                {% if isself %}
                               disabled
                                {% endif %}
                        >
                        <small id="emailHelp" class="form-text text-center" style="font-size: 10px ">
                            مسدود
                        </small>
                    </div>
                    <div class="col-lg-1 form-group text-right p-2" style="font-size: 13px">
                        <input value="regular" type="radio" class="form-control text-center"
                               name="status"
                                {% if not item.banned and not item.isAdmin %}
                               checked
                                {% endif %}
                                {% if isself %}
                               disabled
                                {% endif %}
                        >

                        <small id="emailHelp" class="form-text text-center" style="font-size: 10px ">
                            عادی
                        </small>
                    </div>
                    <div class="col-lg-4 form-group text-center p-2" style="font-size: 13px">

                        <small id="emailHelp" class="form-text text-center" style="font-size: 10px ">
                            این کاربر در تاریخ {{ item.registerTime }} عضو شده است
                        </small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 form-group text-center">
                        <button name="meth" class="btn btn-warning" value="edit" type="submit">ویرایش</button>
                    </div>
                    <div class="col-lg-6 form-group text-center">
                        {% if not isself %}
                            <button name="meth" class="btn btn-danger" value="delete" type="submit">حذف
                            </button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("button[type=submit]").on("click", function (e) {
            const name = $("#name").val()
            const desc = $("#desc").val()
            const duration = $("#duration").val()
            if (name == "" || desc == "" || duration <= 0) {
                e.preventDefault()
                $.notify("فیلد های نام ، توضیحات و طول برنامه نمیتوانند خالی بمانند.", {
                    position: "top center",
                    style: "bootstrap",
                    className: "error",
                    autoHideDelay: 4000,
                    gap: 2

                })
            }
        })

        $("#datepick").pDatepicker({
            "formatter": function (unix) {
                var self = this;
                var pdate = new persianDate(unix);
                return (pdate.toLocale('en').format("DD/MM/YYYY"));
            },
            "inline": false,
            "format": "L",
            "viewMode": "day",
            "initialValue": true,
            "minDate": null,
            "maxDate": null,
            "autoClose": true,
            "position": "auto",
            "altFormat": "L",
            "altField": "#date-en",
            "onlyTimePicker": false,
            "onlySelectOnDate": true,
            "calendarType": "persian",
            "inputDelay": 800,
            "observer": false,
            "calendar": {
                "persian": {
                    "locale": "fa",
                    "showHint": true,
                    "leapYearMode": "astronomical"
                },
                "gregorian": {
                    "locale": "en",
                    "showHint": false
                }
            },
            "navigator": {
                "enabled": true,
                "scroll": {
                    "enabled": false
                },
                "text": {
                    "btnNextText": "<",
                    "btnPrevText": ">"
                }
            },
            "toolbox": {
                "enabled": true,
                "calendarSwitch": {
                    "enabled": false,
                    "format": "MMMM"
                },
                "todayButton": {
                    "enabled": true,
                    "text": {
                        "fa": "امروز",
                        "en": "Today"
                    }
                },
                "submitButton": {
                    "enabled": false,
                    "text": {
                        "fa": "تایید",
                        "en": "Submit"
                    }
                },
                "text": {
                    "btnToday": "امروز"
                }
            },
            "timePicker": {
                "enabled": false,
                "step": 1,
                "hour": {
                    "enabled": false,
                    "step": null
                },
                "minute": {
                    "enabled": true,
                    "step": null
                },
                "second": {
                    "enabled": true,
                    "step": null
                },
                "meridian": {
                    "enabled": true
                }
            },
            "dayPicker": {
                "enabled": true,
                "titleFormat": "YYYY MMMM"
            },
            "monthPicker": {
                "enabled": false,
                "titleFormat": "YYYY"
            },
            "yearPicker": {
                "enabled": false,
                "titleFormat": "YYYY"
            },
            "responsive": true
        })
    })
</script>
</body>
</html>