<html dir="rtl">
<head>
    {% load static %}
    {# Load Css #}
    <link rel="stylesheet" href={% static "adminpanel/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "adminpanel/css/fontawesome.min.css" %}>
    <link rel="stylesheet" href={% static "adminpanel/css/style.css" %}>

    {#  Load Scripts       #}
    <script src={% static "adminpanel/js/jquery.js" %}></script>
    <script src={% static "adminpanel/js/all.min.js" %}></script>
    <script src={% static "adminpanel/js/bootstrap.min.js" %}></script>
    <script src={% static "adminpanel/js/notify.min.js" %}></script>
    <script src={% static "adminpanel/js/js.js" %}></script>
    <title>{{ title }}</title>

</head>
<body dir="rtl">
<div class="container h-100  w-100 home-container" style="font-size: 14px !important;">
    <div class="justify-content-center">
        <div class="row">
            <div class="col col-lg-12  text-center pt-3">
                <p style="font-family: Quran ; font-size: 21px">
                    بسم الله الرحمن الرحیم
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6  text-right pt-3">
                <p style="font-family: Farsi ; font-weight: lighter ; font-size: 14px">
                    خوش آمدی محمد باقر عظیمی
                </p>
            </div>
            <div class="col col-lg-6  text-left pt-3">
                <p style="font-family: Farsi ; font-weight: lighter ; font-size: 14px">
                    <span id="time"></span>
                </p>
            </div>
        </div>
        <div class="row horizontal-line">
            <div class="col col-lg-12 text-right">
                <p style="font-family: Farsi ; font-weight: lighter ; font-size: 14px">
                     <a href="{% url "home" %}">صفحه اصلی</a> > تنظیمات
                </p>
            </div>
        </div>
        <form method="post" action="{% url "postHandler" %}">

            <div style="margin-top:30px">
                <div class="form-group row">
                    <div class="col-sm-2 text-right d-block">
                        <label for="inputEmail3" class="col-sm-12 col-form-label text-right" style="font-size: 13px">تعداد
                            لیست آیتم ها : </label>
                    </div>
                    <div class="col-sm-4 text-right">
                        <input class="form-control" name="showingItems" id="showingItems" value="{{ showingItem.value }}">
                        <small id="emailHelp" class="form-text  text-rigt" style="font-size: 10px">تعداد آیتم
                            نمایش داده شده در هر لیست از صفحه اصلی اپلیکیشن
                        </small>
                    </div>
                    <div class="col-sm-2 text-right d-block">
                        <label for="inputEmail3" class="col-sm-12 col-form-label text-right" style="font-size: 13px">وضعیت
                            سایت: </label>
                    </div>
                    <div class="col-sm-4 text-right">
                        <select  class="form-control" name="sitestatus" id="sitestatus" >
                            <option {% if siteStatus.value == "true" %}
                            selected
                            {% endif %}  value="true">فعال</option>
                            <option {% if siteStatus.value == "false" %}
                            selected
                            {% endif %} value="false">غیر فعال</option>
                        </select>
                        <small id="emailHelp" class="form-text  text-rigt" style="font-size: 10px">
                        </small>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-2 text-right d-block">
                        <label for="inputEmail3" class="col-sm-12 col-form-label text-right" style="font-size: 13px">حدیث
                            روز : </label>
                    </div>
                    <div class="col-sm-5 text-right">
                        <textarea  class="form-control" name="tradition1" id="tradition1">{{ tradition.value }}</textarea>
                        <small id="emailHelp" class="form-text  text-right" style="font-size: 10px">متن عربی کلام
                        </small>
                    </div>
                    <div class="col-sm-5 text-right">
                        <textarea  name="tradition2" class="form-control" id="tradition2">{{ tradition.altValue }}</textarea>
                        <small id="emailHelp" class="form-text  text-right" style="font-size: 10px">متن فارسی
                            کلام
                        </small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button name="submiter" id="set-settings" class="btn btn-success">
                            ثبت تغییرات
                        </button>
        </form>

    </div>
</div>
</div>
</div>
</body>
</html>